@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Pacifico&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
*{
    margin: 3px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Delius Swash Caps', cursive;
}
.cuerpo{
    background: #EACC9E;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.titulo{
    color: #000;
    text-shadow: 0 4px #EACC9E;
    background-color: #D9A491;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 #EACC9E;
    font-family: delius swash caps;
    font-style: inherit;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 1%;
}
.imagen{
    height: 300px;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    box-shadow: 0 5px 8px 0 #D9A491;
    border-radius: 50px;
}
.titul{
    color: #000;
    text-shadow: 0 4px #EACC9E;
    background-color: #D9A491;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 #EACC9E;
    font-family: delius swash caps;
    font-style: inherit;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 1%;
}
.parrafo{
    background: #F2EEB6;
    background: radial-gradient(circle, #D9A491 5%, #EACC9E 100%);
    color: #000;
    text-shadow: 0 4px #D9A491;
    font-size: 30px;
    text-align: justify;
    margin: 3%;
    padding: 0;
}
.izq{
    width: 60%;
}
.der{
    margin-top: -320px;
}
.izq2{
    display: block;
    width: 60%;

}
.der2{
    margin-top: -320px;
    right: auto;
    width: 40%;
}